<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LinkDataMapper">

	<select id="userSavedLinkData" resultType="hashmap">
			  SELECT  ul.id  /* [LinkDataMapper.xml][LinkDataMapper][userSavedLinkData] */
				    , ul.user_id
				    , ul.user_email
				    , ul.link
				    , lc.comment
			   FROM user_saved_link ul
	LEFT OUTER JOIN link_comment lc	 
			     ON ul.id = lc.saved_link_id
			  WHERE ul.user_email = #{userEmail} 
	</select>
		

	
</mapper>